.course-img {
    width: 200px;
    height: 200px;
}

.course-box {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-right: 10px;
}

.title-small {
    font-size: 10px;
    color: grey;
}

.title-course {
    font-size: 14px;
    font-weight: bold;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.post-overflow-x {
    overflow-x: auto;
    padding: 20px;
}

.course-content {
    padding: 10px;
}