.list-post-img {
    height: 150px;
    width: 300px;
}

.list-box {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
}

.content {
    margin-left: 10px;
}

.title-list {
    font-weight: bold;

}